.navMain {
    display: flex;
    flex-direction: row;
    padding: 40px;
    font-size: larger;
    justify-content: space-between;
}
.userOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}